@media only screen and (min-width: 768px) {

    header nav ul {
        display: flex;
        width: 100%;
        list-style-type: none;
    }

    header nav ul li {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: center;
        height: 40px;
        border-right: 1px solid #181714;
        box-shadow: 1px 0px 0px #484641;
    }

    header nav ul li:last-child {
        border: none;
        box-shadow: none;
    }

    header nav ul li a {
        font-family: MyriadProBoldCondensed;
        font-size: 1.6rem;
        color: #e9eef2;
        text-decoration: none;

    }

    header nav ul li a::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #565553;
        position: relative;
        top: 23px;
    }

    .hamburger {
        display: none;
    }

    .banner {
        flex-direction: row;
    }

    .banner-left {
        display: block;
        width: 438px;
        background: url(../img/globe.png) left top no-repeat
    }

    .banner-left img {
        position: relative;
        bottom: -5px;
    }

    hgroup {
        position: relative;
        top: 83px;
        left: -40px;
    }

    button {
        position: relative;
        top: 100px;
        left: 20px;
    }

    .main-content {
        margin-left: 49px;
        margin-right: 49px;
        border-radius: 8px;
    }

    #services-overview > div {
        justify-content: space-between;
    }

}
