@font-face {
    font-family: Tahoma;
    src: url("../fonts/tahoma.ttf");
}

@font-face {
    font-family: DINEngschrift;
    src: url("../fonts/DINEngschriftStd.otf");
}

@font-face {
    font-family: MyriadProBoldCondensed;
    src: url("../fonts/MyriadPro-BoldCond.otf");
}

@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: MyriadProLight;
    src: url("../fonts/MyriadPro-Light.otf");
}

@font-face {
    font-family: MyriadProBold;
    src: url("../fonts/MyriadPro-Bold.otf");
}

@font-face {
    font-family: MyriadProCondensed;
    src: url("../fonts/MyriadPro-Cond.otf");
}
