@media only screen and (max-width: 767px) {

    header nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav ul {
        display: block;
        height: 220px;
        width: 200px;
        position: absolute;
        top: 65px;
        right: -200px;
        background-color: rgba(0, 0, 0, 0.7);
        list-style-type: none;
        padding: 10px 0;
        z-index: 100;
        border-radius: 5px 0 0 5px;
        transition: right 0.3s ease-in-out;
    }

    header nav ul.active {
        right: 0px;
    }

    header nav ul li {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 40px;
    }

    header nav ul li a {
        font-family: MyriadProBoldCondensed;
        font-size: 1.6rem;
        color: #e9eef2;
        text-decoration: none;

    }

    /* Hamburger button */
    .hamburger {
        padding: 0;
        margin: 0;
        width: 40px;
        height: 35px;
        border-style: none;
        background: none;
        z-index: 2;
        border-top: 5px solid #fff;
        transition: all 0.3s ease;
        outline: none;
        border-radius: 0px;
        position: relative;
    }


    .hamburger.active {
        transform: rotate(-45deg);
        transform-origin: right;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger::before {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: #fff;
        position: absolute;
        top: 10px;
        border-radius: 0px;

    }

    .hamburger.active::before {
        opacity: 0;
    }

    .hamburger::after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: #fff;
        position: absolute;
        top: 25px;
        transition: all 0.3s ease;
        border-radius: 0px;
    }

    .hamburger.active::after {
        transform: rotate(90deg) translate(-10px, 19px);
        transform-origin: right;
    }


    .banner {
        flex-direction: column-reverse;
    }

    .banner-left {
        display: none;
    }

    .banner-right {
        padding-bottom: 150px;
    }

    hgroup {
        margin-top: 29px;
        text-align: center;
    }

    button {
        position: static;
        margin: 29px auto 0 auto;
    }

    .main-content {
        grid-template-columns: 1fr;
    }

    .main-content article {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    #services-overview > div {
        justify-content: space-around;
    }

}
