@media only screen and (max-width: 767px) {

    header nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav ul {
        display: block;
        height: 220px;
        width: 200px;
        position: absolute;
        top: 65px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        list-style-type: none;
        padding: 10px 0;
        z-index: 100;
        border-radius: 5px 0 0 5px;
    }

    header nav ul li {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 40px;
    }

    header nav ul li a {
        font-family: MyriadProBoldCondensed;
        font-size: 1.6rem;
        color: #e9eef2;
        text-decoration: none;

    }

    .hamburger {
        display: block;
        width: 40px;
        height: 29px;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        width: 40px;
        height: 5px;
        background-color: #e9eef2;
        border: none;
        border-radius: 2px;
        position: relative;
        top: 12px;
    }

    .hamburger span::before {
        content: "";
        display: block;
        width: 40px;
        height: 5px;
        background-color: #e9eef2;
        border-radius: 2px;
        position: relative;
        top: -12px;
    }

    .hamburger span::after {
        content: "";
        display: block;
        width: 40px;
        height: 5px;
        background-color: #e9eef2;
        border-radius: 2px;
        position: relative;
        top: 7px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-left {
        display: none;
    }

    .banner-right {
        padding-bottom: 150px;
    }

    hgroup {
        margin-top: 29px;
        text-align: center;
    }

    button {
        position: static;
        margin: 29px auto 0 auto;
    }

    .main-content {
        grid-template-columns: 1fr;
    }

    .main-content article {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    #services-overview > div {
        justify-content: space-around;
    }

}
