@font-face {
    font-family: Tahoma;
    src: url("../fonts/tahoma.ttf");
}

@font-face {
    font-family: DINEngschrift;
    src: url("../fonts/DINEngschriftStd.otf");
}

@font-face {
    font-family: MyriadProBoldCondensed;
    src: url("../fonts/MyriadPro-BoldCond.otf");
}

@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: MyriadProLight;
    src: url("../fonts/MyriadPro-Light.otf");
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    font-family: Tahoma;
}

.green {
    color: #abb820;
}

.wrapper {
    max-width: 775px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: linear-gradient(#292824, #494540);
}

.top-bar {
    height: 63px;
    padding-left: 49px;
    padding-right: 49px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #181714;
    box-shadow: 0px 1px 0px #484641;
}

.brand-logo {
    flex-basis: 181px;
    height: 27px;
    display: flex;
    align-self: center;
}

.brand-logo h3 {
    font-family: DINEngschrift;
    font-size: 3rem;
    text-transform: uppercase;
    color: #e9eef2;
    font-weight: lighter;
    max-width: 175px;
    width: 100%;
    align-self: center;
}

.brand-logo h3 span {
    font-family: DINEngschrift;
    font-size: 3rem;
}

.brand-logo img {
    width: 27px;
    height: 27px;
    margin-right: 8px;
}

header nav {
    flex-basis: 395px;
}

header nav ul {
    display: flex;
    width: 100%;
    list-style-type: none;
}

header nav ul li {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    height: 40px;
    border-right: 1px solid #181714;
    box-shadow: 1px 0px 0px #484641;
}

header nav ul li:last-child {
    border: none;
    box-shadow: none;
}

header nav ul li a {
    font-family: MyriadProBoldCondensed;
    font-size: 1.6rem;
    color: #e9eef2;
    text-decoration: none;

}

header nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #565553;
    position: relative;
    top: 23px;
}

.banner {
    display: flex;
    background: url(../img/grass.png) left bottom no-repeat;
}

.banner-left {
    width: 438px;
    background: url(../img/globe.png) left top no-repeat
}

.banner-left img {
    position: relative;
    bottom: -5px;
}

.banner-right {
    width: 100%;
    background: url(../img/banner-bg.png) repeat;
}

hgroup {
    position: relative;
    top: 83px;
    left: -40px;
}

h1 {
    font-family: MyriadProLight;
    font-size: 4.6rem;
    font-weight: lighter;
    color: #e7eada;
    position: relative;
    left: -28px;
}

h5 {
    font-family: MyriadPro;
    font-size: 24px;
    color: #e7eada;
    font-weight: 600;
}

h4 {
    display: inline-block;
    font-family: MyriadProLight;
    font-size: 2.9rem;
    font-weight: lighter;
    color: #e7eada;
    position: relative;
    left: -5px;
}

h2 {
    display: inline-block;
    font-family: MyriadProLight;
    font-size: 3.9rem;
    font-weight: 100;
    color: #d5e88e;
    position: relative;
    top: 10px;
}

button {
    position: relative;
    top: 100px;
    left: 20px;
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background: linear-gradient(#494540, #292824);
    font-family: MyriadPro;
    font-size: 2rem;
    color: #e7eada;
}

.button-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("../img/button-arrow.png");
    position: relative;
    left: -10px;
    top: -1px;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

section {
    background: linear-gradient(#e9e9e9, #fff, #fff);
}

.main-content {
    background-color: #fff;
    position: relative;
    top: -60px;
    margin-left: 49px;
    margin-right: 49px;
}

footer {
    background-color: #e9e9e9;
}
